<div id="main-wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-heading" style="margin: 0 0 0 0;">
                    <h4 class="panel-title" style="font-size: 15px;">操作日志查看</h4>
                </div>
                <div class="panel-body" style="padding-bottom: 0px;">
                    <div class="table-responsive">
                        <table id="tableListlog" class="display table table-no-bordered table-hover" style="width: 100%; cellspacing: 0;font-size: 16px;line-height: 20px;"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


