<div id="main-wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white" style="padding-bottom:0px;">
                <div class="panel-heading" style="margin: 0 0 0 0;">
                    <h4 class="panel-title" style="font-size: 16px;">{{headTitle}}</h4>
                </div>
                <div class="panel-body">
                    <div id="toolbarrole">
                        <div class="form-inline" role="form" style="margin-top: -2px;">
                            <button id="{{headBtnId}}" type="button" class="btn btn-primary btn-group-lg" data-moveable="true" data-toggle="modal" data-target="#{{headMode}}">{{headBtnTitle}}</button>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="tableListrole" class="display table table-no-bordered table-hover" style="width: 100%; cellspacing: 0;line-height: 20px;"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addRoleModal" tabindex="-1" role="dialog">
    <input type="hidden" id="roleId"/>
    <div class="modal-dialog">
        <div class="modal-content" style="margin-top: 30%;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
                <h4 class="modal-title" style="font-size: 16px;" id="roleModalTitle">创建角色</h4>
            </div>
            <form id="addRoleForm">
                <div class="modal-body" style="padding: 0 0 20px 0;">
                    <div class="form-group col-sm-12" style="margin-top:10px;">
                        <input type="text" class="form-control col-md-8" id="roleName" name="roleName" placeholder="请输入角色名称....">
                    </div>
                    <div id="chooseMenu" name="chooseMenu" style="margin-left:10px;">
                        {% for data in menus%}
                        <div class="checkbox col-sm-4" style="margin: 0 0 0 0;padding-top: 5px;padding-bottom: 5px;">
                            <label>
                                <input type="checkbox" name="menuCheck" value="{{data._id.toString()}}">
                                {{data.name}}
                            </label>
                        </div>
                        {% endfor%}
                    </div>
                </div>
                <!--<div class="modal-footer" align="right;" style="padding:0 20px 0 0;">-->
                    <button type="button" class="btn btn-default" style="width: 80px;margin-top: 30px;margin-left:215px;margin-bottom:20px;" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" style="width: 80px;margin-top: 30px;margin-bottom:20px;" onclick="saveRole()">保存</button>
                <!--</div>-->
            </form>
        </div>
    </div>
</div>

<div class="modal fade confirm" id="confirmRoleModal">
    <div class="modal-dialog">
        <div class="modal-content" style="margin-top: 30%;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
                <h4 class="modal-title">是否确认删除该角色？</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="dismissBtn"  style="width: 80px;margin-right: 10px;">否</button>
                <button type="button" class="btn btn-primary" onclick="deleteRole()" style="width: 80px;">是</button>
            </div>
        </div>
    </div>
</div>