<div id="main-wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white" style="padding-bottom:0px;">
                <div class="panel-heading" style="margin: 0 0 0 0;">
                    <h4 class="panel-title" style="font-size: 16px;">{{headTitle}}</h4>
                </div>
                <div class="panel-body" style="min-height: 300px">

                    <!--<div class="form-group" style="min-height: 400px;">-->
                        <!--<label class="col-sm-2 control-label">Tags Input</label>-->
                        <div class="col-sm-12 p-v-xxl">
                            <input type="text" id="vaildwordInput" value="{{data}}" data-role="tagsinput" class="form-control">
                        </div>
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</div>
